@import '~react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-blue-a-400;

@include react-md-everything;

// Or for a subsection
@include react-md-theme-everything($md-light-blue-500, $md-blue-a-400, $md-light-theme, 'custom-theme');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

